* {
    font-family: 'PT Sans Caption', sans-serif;
}

.bg-light {
    background-color: transparent !important;
}

.w-100 {
    height: 100vh;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    top: 50%;
    bottom:auto;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-caption h5 {
    width: 1000px;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}
.carousel-caption p {
     width: 1000px;
     margin: 50px 50px 50px 50px;
     font-size: 25px;
     font-weight: bold;
     margin-left: 200px;
}

.carousel-caption pre {
    margin-left:-250px;
    font-size: 25px;
    font-weight: bold;
}

.navbar-nav a {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar .nav-item {
    margin-left: 24px;
    color: #fff;
}

.navbar .nav-item .nav-link {
    padding: 5px 0;
    position: relative;
    color: #fff;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #E6E6E6;
    transition: all 0.5s ease;
    transform: scale(0);
    color: #fff;
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 15px;
    line-height: 0.2;
    background: #fff;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }

    .carousel-caption {
        bottom: 165px;
    }

    .carousel-caption h5 {
       font-size: 17px;
    }

    .carousel-caption a {
        padding: 5px 5px;
        font-size: 15px;
    }
}
