* {
    font-family: 'PT Sans Caption', sans-serif;
}
.castles {
    height: 20vh;
}

.card {
    height: 40vh;
}

.carousel-indicators{
    margin-bottom: 700px;

}
.btn-outline-dark {
    background-color: rgb(239, 239, 239);
    text-align: center;
}


.container-fluid {
    align-items: stretch;
    justify-content: space-around;
    padding: 250px;
}


.bg-light {
    background-color: transparent !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 250px;
    height: 80px;
    margin-bottom: 500px;
}

.carousel-control-prev {
    opacity: 1 !important;
    filter: invert(100%);

}

.carousel-control-next {
    opacity: 1 !important;
    filter: invert(100%);
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    max-width: 100%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-caption h5 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 80%;
    margin: auto;
    font-size: 23px;
    line-height: 1.9;
    font-weight: bold;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    padding: 5px 5px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
    font-weight: bold;
}

.navbar-nav a {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

}

navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
     color: #fff;
}
.navbar .nav-item {
    margin-left: 24px;
    color: #fff;
}

.navbar .nav-item .nav-link {
    padding: 5px 0;
    position: relative;
    color: #fff;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #E6E6E6;
    transition: all 0.5s ease;
    transform: scale(0);
    color: #fff;
 }

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
            transform: scale(1);
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 20px;
    line-height: 0.2;
    background: #000;
}

.w-100 {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
    }

    .carousel-caption {
        bottom: 165px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
}
